        /* Estilos del header */
        .header {
            border-radius: 40px;
            margin-bottom: 130px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            padding: 10px 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        /* Contenedor del logo y el título */
        .logo-container {
            display: flex;
            align-items: center;
        }

        /* Logo */
        .logo {
            width: 150px;
            height: 50px;
            margin-right: 10px;
        }

        /* Título */
        .title {
            font-size: 24px;
            font-weight: bold;
            color: #333;
        }

        /* Botón de retroceso */
        .back-button {
            background-color: #007BFF;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 40px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .back-button:hover {
            background-color: #0056b3;
        }

    @media (max-width: 1400px) {
      .header {
        margin-bottom: 130px;
      }
    }

    @media (max-width: 1024px) {
      .header {
        margin-bottom: 130px;
      }
    }

    @media (max-width: 768px) {
      .header {
        margin-bottom: 40px;
      }
    }

    @media (max-width: 480px) {
      .header {
        margin-bottom: 50px;
      }
    }